* {
    margin: 0;
}

body {
    background-color: #fff
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

header div:first-child {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}

header h1:nth-child(2) {
    /* background-color: red; */
    flex: 4;
    text-align: center;
}

header div:nth-child(3) {
    display: flex;
    flex: 1;
    /* background-color: rebeccapurple; */
    justify-content: space-around;
}

.bluebuttons {
    background-color: #567B95;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid gray
}